

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sideboard {
    background-color: #0ea5e9;

    width: 20vw;

    color: #f0f9ff; 

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sideboard span {
    display: flex;
}

.sideboard ul {
    list-style: none;
    padding: 0;
    width: 10vw;
}

.sideboard li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

.sideboard img {
    width: 30px;
    margin-right: 8px;
}

.sideboard a {
    text-decoration: none;
    color: #f0f9ff;
}

div.main-page {
    display: flex;
    flex-direction: column;
}

div.header {
    min-width: 80vw;
    padding: 0 1.5vw;
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.089);
    z-index: 1;
}

div.header input {
    border-radius: 25px;
    border: none;
    background-color: rgba(0, 140, 255, 0.137);

    height: 32px;
    width: 30vw;
}

#searchIcon {
    width: 35px;
}

div.header div {
    display: flex;

    align-items: center;
    margin: 10px 20px;

    position: relative;
}

div.header ul {
    display: flex;
    position: absolute;
    right: 20px;

    list-style: none;
}

div.header span.rightSide {
    display: flex;
    position: absolute;
    right: 20px;
}

div.header ul li {
    margin: 0 10px;
}

div.content {
    background-color: #eef2ff;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 20px;

    padding: 20px 20px;

    height: 100vh;

}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px repeat(3, minmax(100px, 1fr));
    gap: 25px;
}

.projects div {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    border-left: 6px solid #fcd34d;

    position: relative;
}

.projects ul {
    position: absolute;
    display: flex;

    bottom: 0;
    right: 0;

    list-style: none;
}

.projects li {
    margin-left: 15px;
}

.projects img {
    width: 25px;
}

.projects div h2,
.projects div p,
.projects div ul {
    margin: 10px;
}

div.projects .title {
    grid-column: 1 / 3;
}

.announcements {
    grid-column: 2;
}

.trending {
    grid-column: 2;

}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    gap: 25px;
}

.announcementsContainer {
    background-color: white;
    border-radius: 8px;
    padding: 10px;

    display: grid;
}

.announcementsContainer p {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.212);
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    gap: 25px;
}

.trendingContainer {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(4 1fr);

    display: grid;
}

.trendingContainer div {
    grid-column: 2;
}

.trendingContainer img {
    grid-column: 1;
    width: 65px;
    margin: auto;

    border-radius: 100%;
    
}

.headerBottom img {
    width: 65px;
    margin-right: 15px;

    border-radius: 100%;

}

.headerTop img {
    width: 65px;
    margin-right: 15px;

    border-radius: 100%;

}

.headerTop {
    padding-top: 30px;
}

.headerBottom a {
    background-color: #0ea5e9;
    display: block;
    padding: 8px 20px;
    border-radius: 30px;
    width: 60px;

    text-align: center;

    text-decoration: none;
    color: white;
}